<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{asset("css/style.css")}}">
    {% block script %} {% endblock %}
</head>
<body>
<header>
        <nav>
            <div id="logo">logo cool</div>
            <div id="menu">
                <div> <img class="icon" src="{{ asset("img/user.png")}}"> Profil</div>
            </div>
        </nav>
</header>
{% block page_content %} {% endblock %}
</body>